<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499946725146-mj79qv9n47lsifm8eets7p3ggbbfa9ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499946725146-mj79qv9n47lsifm8eets7p3ggbbfa9ov</string>
	<key>API_KEY</key>
	<string>AIzaSyDJT3LLFeCfkL6DwP8YrKR9wUUOJeF3FUg</string>
	<key>GCM_SENDER_ID</key>
	<string>499946725146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-5f27c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-5f27c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499946725146:ios:7682ae932f0d4efbbd16a3</string>
</dict>
</plist>